/* 
*
*  https://designshack.net/articles/css/css-card-tricks/
*/
.card {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 135px;
	height: 190px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.card p {
	text-align: center;
	font: 100px/220px Georgia, Times New Roman, serif;
	margin: 0;
	padding: 0;
	top: -25px;
	position: relative;
}

.suitdiamond,.suitheart {
	color: #ff0000;
}

.suitdiamond:before,.suitdiamond:after {
	content: "♦";
	color: #ff0000;
}

.suitheart:before,.suitheart:after {
	content: "♥";
	color: #ff0000;
}

.suitclub:before,.suitclub:after {
	content: "♣";
	color: #000;
}

.suitspade:before,.suitspade:after {
	content: "♠";
	color: #000;
}

div[class*='suit']:before {
	position: absolute;
	font-size: 35px;
	left: 5px;
	top: 5px;
}

div[class*='suit']:after {
	position: absolute;
	font-size: 35px;
	right: 5px;
	bottom: 5px;
}